/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


#logo a {
	color: #FE9603;
}

.testi-image {
	float: none;
    margin: 0px auto 0; 
    margin-bottom: 20px;
    display: inline-block;
}

#footer .footer-widgets-wrap {
    position: relative;
    padding: 0px 0; 
}